.game_canvas{
    background-color: aquamarine;
    border: 2px;
    border-style: solid;
}
body{
    text-align: center;
}
.score_block{
    text-align: center;
    background-color: aquamarine;
    width: 320px;
}
.game{
    text-align: center;
    font-family: monospace;
}
hr{
    border-style: none;
}
.gameover{
    font-family: monospace;
    color: red;
}